openapi: 3.1.0
info:
  title: Zinto Integration API
  version: 0.1.0
  summary: Bidirectional, tenant-safe API for Zinto partners
  description: |
    Integrate external systems with Zinto contacts, conversations, complete
    message history, channel delivery, notes, tags, and signed webhooks.
    Tenant identity always comes from the API key; clients never send company_id.
servers:
  - url: https://crm.zinto.app/_integration-api
    description: Controlled preview on the Zinto VPS
tags:
  - name: System
  - name: Identity
  - name: Channels
  - name: Contacts
  - name: Conversations
  - name: Messages
  - name: Flows
  - name: ERP
  - name: Webhooks
security:
  - bearerAuth: []
paths:
  /health:
    get:
      tags: [System]
      operationId: getHealth
      security: []
      summary: Check service liveness
      responses:
        "200":
          description: Service is running
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
  /ready:
    get:
      tags: [System]
      operationId: getReadiness
      security: []
      summary: Check service dependencies
      responses:
        "200":
          description: Service and database are ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: A required service is unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /api/v1/me:
    get:
      tags: [Identity]
      operationId: getApiIdentity
      summary: Inspect the authenticated company and scopes
      responses:
        "200":
          description: Authenticated identity
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IdentityResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /api/v1/channels:
    get:
      tags: [Channels]
      operationId: listChannels
      summary: List company channels and supported capabilities
      responses:
        "200":
          description: Company channel list without provider credentials
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Channel" }
                  meta: { $ref: "#/components/schemas/RequestMeta" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /api/v1/contacts:
    get:
      tags: [Contacts]
      operationId: listContacts
      summary: List contacts with cursor pagination
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/UpdatedSince"
      responses:
        "200":
          description: Contact page
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Contact" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Contacts]
      operationId: createContact
      summary: Create a contact
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ContactCreate" }
      responses:
        "201":
          description: Contact created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ContactResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
  /api/v1/contacts/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    patch:
      tags: [Contacts]
      operationId: updateContact
      summary: Update allowed contact fields
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ContactUpdate" }
      responses:
        "200":
          description: Contact updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ContactResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Contacts]
      operationId: archiveContact
      summary: Archive a contact
      responses:
        "200":
          description: Contact archived
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ContactResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/contacts/{id}/notes:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    post:
      tags: [Contacts]
      operationId: createContactNote
      summary: Add a historical note to a contact
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/NoteInput" }
      responses:
        "201":
          description: Note created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NoteResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/notes/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    patch:
      tags: [Contacts]
      operationId: updateContactNote
      summary: Update a note
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/NoteInput" }
      responses:
        "200":
          description: Note updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/NoteResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Contacts]
      operationId: deleteContactNote
      summary: Delete a note
      responses:
        "204": { description: Note deleted }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/contacts/{id}/tags/{tag}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
      - name: tag
        in: path
        required: true
        schema: { type: string, minLength: 1, maxLength: 100 }
    put:
      tags: [Contacts]
      operationId: attachContactTag
      summary: Attach a tag idempotently
      responses:
        "200":
          description: Updated contact
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ContactResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [Contacts]
      operationId: detachContactTag
      summary: Detach a tag idempotently
      responses:
        "200":
          description: Updated contact
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ContactResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/pipelines:
    get:
      tags: [Pipelines]
      operationId: listPipelines
      summary: List the pipelines of the authenticated company
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/UpdatedSince"
      responses:
        "200":
          description: Pipeline page
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Pipeline" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /api/v1/pipelines/{id}/stages:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      tags: [Pipelines]
      operationId: listPipelineStages
      summary: List the stages of a pipeline owned by the company
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/UpdatedSince"
      responses:
        "200":
          description: Pipeline stage page
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/PipelineStage" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/deals:
    get:
      tags: [Deals]
      operationId: listDeals
      summary: List deals with cursor pagination
      description: >
        stage_key carries the legacy stage vocabulary while stage_id and
        stage_name describe the configurable pipeline stage. They are distinct
        fields on purpose and must not be derived from one another.
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/UpdatedSince"
        - name: pipeline_id
          in: query
          schema: { type: string, pattern: '^\d+$' }
        - name: contact_id
          in: query
          schema: { type: string, pattern: '^\d+$' }
      responses:
        "200":
          description: Deal page
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Deal" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /api/v1/deals/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      tags: [Deals]
      operationId: getDeal
      summary: Fetch a single deal owned by the company
      responses:
        "200":
          description: Deal
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data: { $ref: "#/components/schemas/Deal" }
                  meta: { $ref: "#/components/schemas/RequestMeta" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/deals/{id}/stage:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    patch:
      tags: [Deals]
      operationId: changeDealStage
      summary: Move a deal to another stage of its own pipeline
      description: >
        Writes stage_id and the legacy stage_key together, exactly as the CRM
        does, so both vocabularies stay as aligned as the engine keeps them.
        The target stage must belong to the pipeline the deal is already in;
        moving a deal between pipelines is a different operation and is
        rejected with stage_pipeline_mismatch.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/DealStageInput" }
      responses:
        "200":
          description: Deal with its new stage
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data: { $ref: "#/components/schemas/Deal" }
                  meta: { $ref: "#/components/schemas/RequestMeta" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/StagePipelineMismatch" }
  /api/v1/tasks:
    get:
      tags: [Tasks]
      operationId: listTasks
      summary: List contact tasks with cursor pagination
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/UpdatedSince"
        - name: contact_id
          in: query
          schema: { type: string, pattern: '^\d+$' }
      responses:
        "200":
          description: Task page
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Task" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /api/v1/conversations:
    get:
      tags: [Conversations]
      operationId: listConversations
      summary: List conversations
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/UpdatedSince"
      responses:
        "200":
          description: Conversation page
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Conversation" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Conversations]
      operationId: createConversation
      summary: Find or create the conversation of a contact on a channel
      description: >-
        Returns the existing one-to-one conversation between the contact and the
        channel, or creates it when there is none. Safe to retry and safe under
        concurrency: two simultaneous calls for the same pair are serialised and
        return the same conversation, never a duplicate. `channel_type` is
        derived from the channel itself and cannot be supplied by the caller.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ConversationCreate" }
      responses:
        "200":
          description: The conversation already existed and is returned unchanged
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ConversationResponse" }
        "201":
          description: Conversation created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ConversationResponse" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/conversations/{id}/messages:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      tags: [Conversations]
      operationId: listConversationMessages
      summary: Read complete message history across all dates
      description: >
        updated_since is answered against each message's created_at: the
        underlying table has no separate updated_at column, so this only
        catches newly created messages, never a later status or read_at
        change on an older one (those already arrive as their own
        message.status.updated webhook event).
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/UpdatedSince"
      responses:
        "200":
          description: Historical message page, newest first
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PageResponse"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Message" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/messages/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      tags: [Messages]
      operationId: getMessage
      summary: Fetch a single message owned by the company
      responses:
        "200":
          description: Message
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data: { $ref: "#/components/schemas/Message" }
                  meta: { $ref: "#/components/schemas/RequestMeta" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/messages/send:
    post:
      tags: [Messages]
      operationId: sendTextMessage
      summary: Send text through a selected channel
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TextMessageInput" }
      responses:
        "201": { $ref: "#/components/responses/MessageAccepted" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/UnsupportedCapability" }
        "502": { $ref: "#/components/responses/DeliveryFailed" }
        "504": { $ref: "#/components/responses/DeliveryTimeout" }
  /api/v1/messages/send-media:
    post:
      tags: [Messages]
      operationId: sendMediaMessage
      summary: Send public media through a selected channel
      description: >
        The media URL must resolve to a public address; private, loopback,
        link-local, CGNAT and reserved ranges are refused for both IPv4 and
        IPv6. The service downloads the media itself and forwards an internal
        URL to the delivery engine, so the origin never learns which engine
        fetched it; while that proxy is disabled the operation is refused
        outright rather than forwarding the partner URL unmodified. Errors use
        the codes unsafe_media_url, media_unreachable, media_too_large,
        media_type_mismatch and media_proxy_disabled.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MediaMessageInput" }
      responses:
        "201": { $ref: "#/components/responses/MessageAccepted" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/UnsupportedCapability" }
        "502": { $ref: "#/components/responses/DeliveryFailed" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
        "504": { $ref: "#/components/responses/DeliveryTimeout" }
  /api/v1/messages/send-template:
    post:
      tags: [Messages]
      operationId: sendTemplateMessage
      summary: Send an approved WhatsApp template
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/TemplateMessageInput" }
      responses:
        "201": { $ref: "#/components/responses/MessageAccepted" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/UnsupportedCapability" }
        "502": { $ref: "#/components/responses/DeliveryFailed" }
        "504": { $ref: "#/components/responses/DeliveryTimeout" }
  /api/v1/messages/send-interactive:
    post:
      tags: [Messages]
      operationId: sendInteractiveMessage
      summary: Send an interactive WhatsApp message
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/InteractiveMessageInput" }
      responses:
        "201": { $ref: "#/components/responses/MessageAccepted" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/UnsupportedCapability" }
        "502": { $ref: "#/components/responses/DeliveryFailed" }
        "504": { $ref: "#/components/responses/DeliveryTimeout" }
  /api/v1/flows:
    get:
      tags: [Flows]
      operationId: listFlows
      x-required-scopes: ["flows:read"]
      summary: List safe flow metadata for the authenticated company
      description: Flow graph JSON and variables are intentionally not exposed.
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/UpdatedSince"
      responses:
        "200": { $ref: "#/components/responses/FlowPage" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /api/v1/flows/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      tags: [Flows]
      operationId: getFlow
      x-required-scopes: ["flows:read"]
      summary: Fetch safe flow metadata owned by the company
      responses:
        "200": { $ref: "#/components/responses/FlowItem" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/flows/{id}/assignments:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      tags: [Flows]
      operationId: listFlowAssignments
      x-required-scopes: ["flows:read"]
      summary: List channel assignments whose flow and channel belong to the company
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/UpdatedSince"
      responses:
        "200": { $ref: "#/components/responses/FlowAssignmentPage" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/flow-executions:
    get:
      tags: [Flows]
      operationId: listFlowExecutions
      x-required-scopes: ["flows:read"]
      summary: List execution lifecycle metadata without runtime payloads
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/UpdatedSince"
        - name: flow_id
          in: query
          schema: { type: string, pattern: '^\d+$' }
        - name: status
          in: query
          schema: { type: string, enum: [running, waiting, completed, failed, abandoned, timeout] }
      responses:
        "200": { $ref: "#/components/responses/FlowExecutionPage" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /api/v1/erp/products:
    get:
      tags: [ERP]
      operationId: listErpProducts
      x-required-scopes: ["erp.products:read"]
      summary: List safe product catalog fields
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/UpdatedSince"
        - name: status
          in: query
          schema: { type: string, enum: [active, inactive, draft, archived] }
      responses:
        "200": { $ref: "#/components/responses/ProductPage" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /api/v1/erp/products/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      tags: [ERP]
      operationId: getErpProduct
      x-required-scopes: ["erp.products:read"]
      summary: Fetch a product owned by the company
      responses:
        "200": { $ref: "#/components/responses/ProductItem" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/erp/stock-levels:
    get:
      tags: [ERP]
      operationId: listErpStockLevels
      x-required-scopes: ["erp.inventory:read"]
      summary: List stock levels with same-company product and warehouse references
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - name: product_id
          in: query
          schema: { type: string, pattern: '^\d+$' }
        - name: warehouse_id
          in: query
          schema: { type: string, pattern: '^\d+$' }
      responses:
        "200": { $ref: "#/components/responses/StockLevelPage" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /api/v1/erp/sales-orders:
    get:
      tags: [ERP]
      operationId: listErpSalesOrders
      x-required-scopes: ["erp.sales-orders:read"]
      summary: List sales order headers without addresses, notes, or line items
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/UpdatedSince"
        - name: status
          in: query
          schema: { type: string, enum: [draft, quotation, confirmed, processing, shipped, delivered, cancelled, returned] }
      responses:
        "200": { $ref: "#/components/responses/SalesOrderPage" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /api/v1/erp/sales-orders/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      tags: [ERP]
      operationId: getErpSalesOrder
      x-required-scopes: ["erp.sales-orders:read"]
      summary: Fetch a sales order header owned by the company
      responses:
        "200": { $ref: "#/components/responses/SalesOrderItem" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/erp/invoices:
    get:
      tags: [ERP]
      operationId: listErpInvoices
      x-required-scopes: ["erp.invoices:read"]
      summary: List invoice headers without notes, PDFs, payments, or line items
      parameters:
        - $ref: "#/components/parameters/Cursor"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/UpdatedSince"
        - name: status
          in: query
          schema: { type: string, enum: [draft, sent, partially_paid, paid, overdue, cancelled, void] }
        - name: type
          in: query
          schema: { type: string, enum: [sales_invoice, purchase_invoice, credit_note, debit_note] }
      responses:
        "200": { $ref: "#/components/responses/InvoicePage" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /api/v1/erp/invoices/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    get:
      tags: [ERP]
      operationId: getErpInvoice
      x-required-scopes: ["erp.invoices:read"]
      summary: Fetch an invoice header owned by the company
      responses:
        "200": { $ref: "#/components/responses/InvoiceItem" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/webhooks:
    get:
      tags: [Webhooks]
      operationId: listWebhooks
      summary: List webhook endpoints without secrets
      responses:
        "200":
          description: Webhook endpoint list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/WebhookEndpoint" }
                  meta: { $ref: "#/components/schemas/RequestMeta" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      tags: [Webhooks]
      operationId: createWebhook
      summary: Register an HTTPS endpoint; secret is returned once
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/WebhookCreate" }
      responses:
        "201":
          description: Webhook endpoint and one-time signing secret
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    allOf:
                      - $ref: "#/components/schemas/WebhookEndpoint"
                      - type: object
                        properties:
                          secret: { type: string, pattern: '^whsec_[a-f0-9]{64}$' }
                  meta: { $ref: "#/components/schemas/RequestMeta" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /api/v1/webhooks/{id}:
    parameters:
      - $ref: "#/components/parameters/ResourceId"
    delete:
      tags: [Webhooks]
      operationId: disableWebhook
      summary: Disable a webhook endpoint
      responses:
        "204": { description: Endpoint disabled }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: pcp_<64 lowercase hex characters>
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      schema: { type: string, pattern: '^\d+$' }
    Cursor:
      name: cursor
      in: query
      description: Opaque cursor returned by the previous page
      schema: { type: string }
    Limit:
      name: limit
      in: query
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: Unique operation key. Reuse with a different body returns 409.
      schema: { type: string, minLength: 1, maxLength: 255 }
    UpdatedSince:
      name: updated_since
      in: query
      description: >
        Return only records updated at or after this instant. Ordering stays by
        creation so a page remains stable while records are being updated.
      schema: { type: string, format: date-time }
  responses:
    FlowPage:
      description: Tenant-scoped flow metadata page
      content: { application/json: { schema: { $ref: "#/components/schemas/FlowPageResponse" } } }
    FlowItem:
      description: Tenant-scoped flow metadata
      content: { application/json: { schema: { $ref: "#/components/schemas/FlowResponse" } } }
    FlowAssignmentPage:
      description: Tenant-scoped flow assignment page
      content: { application/json: { schema: { $ref: "#/components/schemas/FlowAssignmentPageResponse" } } }
    FlowExecutionPage:
      description: Tenant-scoped flow execution metadata page
      content: { application/json: { schema: { $ref: "#/components/schemas/FlowExecutionPageResponse" } } }
    ProductPage:
      description: Tenant-scoped product page
      content: { application/json: { schema: { $ref: "#/components/schemas/ProductPageResponse" } } }
    ProductItem:
      description: Tenant-scoped product
      content: { application/json: { schema: { $ref: "#/components/schemas/ProductResponse" } } }
    StockLevelPage:
      description: Tenant-scoped stock level page
      content: { application/json: { schema: { $ref: "#/components/schemas/StockLevelPageResponse" } } }
    SalesOrderPage:
      description: Tenant-scoped sales order page
      content: { application/json: { schema: { $ref: "#/components/schemas/SalesOrderPageResponse" } } }
    SalesOrderItem:
      description: Tenant-scoped sales order
      content: { application/json: { schema: { $ref: "#/components/schemas/SalesOrderResponse" } } }
    InvoicePage:
      description: Tenant-scoped invoice page
      content: { application/json: { schema: { $ref: "#/components/schemas/InvoicePageResponse" } } }
    InvoiceItem:
      description: Tenant-scoped invoice
      content: { application/json: { schema: { $ref: "#/components/schemas/InvoiceResponse" } } }
    ServiceUnavailable:
      description: Operation temporarily disabled by a safety switch
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    BadRequest:
      description: Validation or safety check failed
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    Unauthorized:
      description: API key missing, invalid, inactive, or expired
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    Forbidden:
      description: Required scope or source IP is not allowed
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    NotFound:
      description: Resource is absent or belongs to another company
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    Conflict:
      description: Idempotency conflict or inactive channel
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    StagePipelineMismatch:
      description: Stage exists but belongs to a different pipeline than the deal
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    UnsupportedCapability:
      description: Selected channel does not support the operation
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    DeliveryTimeout:
      description: Delivery may have occurred; retrying automatically is unsafe
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    DeliveryFailed:
      description: >
        The legacy delivery engine did not accept the message. `error.code`
        distinguishes `delivery_rejected` (the engine's own 4xx: the request
        will not succeed unchanged, do not retry it as-is) from
        `delivery_failed` (the engine itself is unavailable or answered
        unexpectedly: safe to retry later with the same idempotency key).
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    MessageAccepted:
      description: Message accepted by the existing Zinto delivery engine
      content:
        application/json:
          schema: { $ref: "#/components/schemas/MessageDeliveryResponse" }
  schemas:
    DecimalString:
      type: string
      pattern: '^-?\d+(\.\d+)?$'
      description: Exact base-10 value; serialized as a string to avoid floating-point loss.
    Flow:
      type: object
      required: [id, created_by_user_id, name, status, version, created_at, updated_at]
      properties:
        id: { type: string }
        created_by_user_id: { type: string }
        name: { type: string }
        description: { type: [string, "null"] }
        status: { type: string, enum: [draft, active, inactive, archived] }
        version: { type: integer }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    FlowAssignment:
      type: object
      required: [id, flow_id, channel_id, active, created_at, updated_at]
      properties:
        id: { type: string }
        flow_id: { type: string }
        channel_id: { type: string }
        active: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    FlowExecution:
      type: object
      required: [id, run_id, flow_id, conversation_id, contact_id, status, trigger_node_id, runtime_type, started_at, last_activity_at, created_at, updated_at]
      properties:
        id: { type: string }
        run_id: { type: string }
        flow_id: { type: string }
        conversation_id: { type: string }
        contact_id: { type: string }
        status: { type: string, enum: [running, waiting, completed, failed, abandoned, timeout] }
        trigger_node_id: { type: string }
        current_node_id: { type: [string, "null"] }
        runtime_type: { type: string, enum: [legacy, session] }
        started_at: { type: string, format: date-time }
        completed_at: { type: [string, "null"], format: date-time }
        last_activity_at: { type: string, format: date-time }
        total_duration_ms: { type: [integer, "null"] }
        completion_rate: { anyOf: [{ $ref: "#/components/schemas/DecimalString" }, { type: "null" }] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    ErpProduct:
      type: object
      required: [id, name, type, status, tags, taxable, created_at, updated_at]
      properties:
        id: { type: string }
        category_id: { type: [string, "null"] }
        sku: { type: [string, "null"] }
        name: { type: string }
        description: { type: [string, "null"] }
        type: { type: string, enum: [physical, service, digital] }
        unit_price: { anyOf: [{ $ref: "#/components/schemas/DecimalString" }, { type: "null" }] }
        cost_price: { anyOf: [{ $ref: "#/components/schemas/DecimalString" }, { type: "null" }] }
        currency: { type: [string, "null"] }
        unit_of_measure: { type: [string, "null"] }
        barcode: { type: [string, "null"] }
        status: { type: string, enum: [active, inactive, draft, archived] }
        tags: { type: array, items: { type: string } }
        taxable: { type: boolean }
        weight: { anyOf: [{ $ref: "#/components/schemas/DecimalString" }, { type: "null" }] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    StockLevel:
      type: object
      required: [id, product_id, product_name, warehouse_id, warehouse_name, quantity, reserved_quantity, updated_at]
      properties:
        id: { type: string }
        product_id: { type: string }
        product_name: { type: string }
        product_sku: { type: [string, "null"] }
        variant_id: { type: [string, "null"] }
        variant_name: { type: [string, "null"] }
        warehouse_id: { type: string }
        warehouse_name: { type: string }
        quantity: { $ref: "#/components/schemas/DecimalString" }
        reserved_quantity: { $ref: "#/components/schemas/DecimalString" }
        reorder_point: { anyOf: [{ $ref: "#/components/schemas/DecimalString" }, { type: "null" }] }
        reorder_quantity: { anyOf: [{ $ref: "#/components/schemas/DecimalString" }, { type: "null" }] }
        updated_at: { type: string, format: date-time }
    SalesOrder:
      type: object
      required: [id, order_number, status, subtotal, tax_amount, discount_amount, total_amount, source, created_at, updated_at]
      properties:
        id: { type: string }
        order_number: { type: string }
        contact_id: { type: [string, "null"] }
        deal_id: { type: [string, "null"] }
        status: { type: string }
        subtotal: { $ref: "#/components/schemas/DecimalString" }
        tax_amount: { $ref: "#/components/schemas/DecimalString" }
        discount_amount: { $ref: "#/components/schemas/DecimalString" }
        total_amount: { $ref: "#/components/schemas/DecimalString" }
        currency: { type: [string, "null"] }
        assigned_to_user_id: { type: [string, "null"] }
        valid_until: { type: [string, "null"], format: date-time }
        source: { type: string }
        flow_id: { type: [string, "null"] }
        channel_id: { type: [string, "null"] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    Invoice:
      type: object
      required: [id, invoice_number, type, status, subtotal, tax_amount, discount_amount, total_amount, amount_paid, amount_due, created_at, updated_at]
      properties:
        id: { type: string }
        invoice_number: { type: string }
        contact_id: { type: [string, "null"] }
        supplier_id: { type: [string, "null"] }
        sales_order_id: { type: [string, "null"] }
        purchase_order_id: { type: [string, "null"] }
        type: { type: string, enum: [sales_invoice, purchase_invoice, credit_note, debit_note] }
        status: { type: string, enum: [draft, sent, partially_paid, paid, overdue, cancelled, void] }
        issue_date: { type: [string, "null"], format: date-time }
        due_date: { type: [string, "null"], format: date-time }
        subtotal: { $ref: "#/components/schemas/DecimalString" }
        tax_amount: { $ref: "#/components/schemas/DecimalString" }
        discount_amount: { $ref: "#/components/schemas/DecimalString" }
        total_amount: { $ref: "#/components/schemas/DecimalString" }
        amount_paid: { $ref: "#/components/schemas/DecimalString" }
        amount_due: { $ref: "#/components/schemas/DecimalString" }
        currency: { type: [string, "null"] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    FlowPageResponse:
      allOf:
        - $ref: "#/components/schemas/PageResponse"
        - type: object
          properties: { data: { type: array, items: { $ref: "#/components/schemas/Flow" } } }
    FlowResponse:
      type: object
      properties: { data: { $ref: "#/components/schemas/Flow" }, meta: { $ref: "#/components/schemas/RequestMeta" } }
    FlowAssignmentPageResponse:
      allOf:
        - $ref: "#/components/schemas/PageResponse"
        - type: object
          properties: { data: { type: array, items: { $ref: "#/components/schemas/FlowAssignment" } } }
    FlowExecutionPageResponse:
      allOf:
        - $ref: "#/components/schemas/PageResponse"
        - type: object
          properties: { data: { type: array, items: { $ref: "#/components/schemas/FlowExecution" } } }
    ProductPageResponse:
      allOf:
        - $ref: "#/components/schemas/PageResponse"
        - type: object
          properties: { data: { type: array, items: { $ref: "#/components/schemas/ErpProduct" } } }
    ProductResponse:
      type: object
      properties: { data: { $ref: "#/components/schemas/ErpProduct" }, meta: { $ref: "#/components/schemas/RequestMeta" } }
    StockLevelPageResponse:
      allOf:
        - $ref: "#/components/schemas/PageResponse"
        - type: object
          properties: { data: { type: array, items: { $ref: "#/components/schemas/StockLevel" } } }
    SalesOrderPageResponse:
      allOf:
        - $ref: "#/components/schemas/PageResponse"
        - type: object
          properties: { data: { type: array, items: { $ref: "#/components/schemas/SalesOrder" } } }
    SalesOrderResponse:
      type: object
      properties: { data: { $ref: "#/components/schemas/SalesOrder" }, meta: { $ref: "#/components/schemas/RequestMeta" } }
    InvoicePageResponse:
      allOf:
        - $ref: "#/components/schemas/PageResponse"
        - type: object
          properties: { data: { type: array, items: { $ref: "#/components/schemas/Invoice" } } }
    InvoiceResponse:
      type: object
      properties: { data: { $ref: "#/components/schemas/Invoice" }, meta: { $ref: "#/components/schemas/RequestMeta" } }
    RequestMeta:
      type: object
      required: [request_id]
      properties:
        request_id: { type: string, pattern: '^req_' }
    PageMeta:
      allOf:
        - $ref: "#/components/schemas/RequestMeta"
        - type: object
          required: [next_cursor, has_more]
          properties:
            next_cursor: { type: [string, "null"] }
            has_more: { type: boolean }
    PageResponse:
      type: object
      required: [data, meta]
      properties:
        data: { type: array, items: {} }
        meta: { $ref: "#/components/schemas/PageMeta" }
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, request_id]
          properties:
            code: { type: string }
            message: { type: string }
            details: { type: array, items: {} }
            request_id: { type: string }
    HealthResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: object
          required: [service, status, version]
          properties:
            service: { const: zinto-integration-api }
            status: { type: string, enum: [ok, ready] }
            version: { type: string }
        meta: { $ref: "#/components/schemas/RequestMeta" }
    IdentityResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            api_key:
              type: object
              properties:
                id: { type: string }
                name: { type: string }
            company:
              type: object
              properties:
                id: { type: string }
                name: { type: string }
            scopes: { type: array, items: { type: string } }
        meta: { $ref: "#/components/schemas/RequestMeta" }
    Channel:
      type: object
      required: [id, type, name, status, capabilities]
      properties:
        id: { type: string }
        type: { type: string }
        name: { type: string }
        status: { type: string }
        capabilities: { type: array, items: { type: string } }
    ContactFields:
      type: object
      properties:
        name: { type: string, minLength: 1, maxLength: 255 }
        email: { type: [string, "null"], format: email }
        phone: { type: [string, "null"] }
        avatar_url: { type: [string, "null"], format: uri }
        company: { type: [string, "null"] }
        tags: { type: array, items: { type: string } }
        source: { type: [string, "null"] }
        notes: { type: [string, "null"] }
        custom_fields: { type: object, additionalProperties: true }
    ContactCreate:
      allOf:
        - $ref: "#/components/schemas/ContactFields"
        - type: object
          required: [name]
          additionalProperties: false
    ContactUpdate:
      allOf:
        - $ref: "#/components/schemas/ContactFields"
        - type: object
          minProperties: 1
          additionalProperties: false
    Contact:
      allOf:
        - $ref: "#/components/schemas/ContactFields"
        - type: object
          required: [id, name, tags, custom_fields, archived, created_at, updated_at]
          properties:
            id: { type: string }
            archived: { type: boolean }
            created_at: { type: string, format: date-time }
            updated_at: { type: string, format: date-time }
    ContactResponse:
      type: object
      properties:
        data: { $ref: "#/components/schemas/Contact" }
        meta: { $ref: "#/components/schemas/RequestMeta" }
    Pipeline:
      type: object
      required: [id, name, is_default, is_template, order_num, created_at, updated_at]
      properties:
        id: { type: string }
        name: { type: string }
        description: { type: [string, "null"] }
        icon: { type: [string, "null"] }
        color: { type: [string, "null"] }
        is_default: { type: boolean }
        is_template: { type: boolean }
        template_category: { type: [string, "null"] }
        order_num: { type: integer }
        created_by_user_id: { type: [string, "null"] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    PipelineStage:
      type: object
      required: [id, pipeline_id, name, color, order_num, created_at, updated_at]
      properties:
        id: { type: string }
        pipeline_id: { type: string }
        name: { type: string }
        color: { type: string }
        order_num: { type: integer }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    Deal:
      type: object
      required: [id, pipeline_id, contact_id, title, stage_key, tags, custom_fields, created_at, updated_at]
      properties:
        id: { type: string }
        pipeline_id: { type: string }
        contact_id: { type: string }
        title: { type: string }
        stage_key:
          type: string
          description: Legacy stage vocabulary stored on the deal itself.
        stage_id:
          type: [string, "null"]
          description: Configurable pipeline stage; a different vocabulary from stage_key.
        stage_name:
          type: [string, "null"]
          description: Null when the stage reference does not resolve inside the same pipeline and company.
        value: { type: [integer, "null"] }
        priority: { type: [string, "null"] }
        status: { type: [string, "null"] }
        due_date: { type: [string, "null"], format: date-time }
        assigned_to_user_id: { type: [string, "null"] }
        description: { type: [string, "null"] }
        tags: { type: array, items: { type: string } }
        custom_fields: { type: object, additionalProperties: true }
        last_activity_at: { type: [string, "null"], format: date-time }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    DealStageInput:
      type: object
      required: [stage_id]
      additionalProperties: false
      properties:
        stage_id:
          type: string
          pattern: '^\d+$'
          description: Stage of the same pipeline the deal already belongs to.
    Task:
      type: object
      required: [id, contact_id, title, priority, status, tags, created_at, updated_at]
      properties:
        id: { type: string }
        contact_id: { type: string }
        title: { type: string }
        description: { type: [string, "null"] }
        priority: { type: string }
        status: { type: string }
        due_date: { type: [string, "null"], format: date-time }
        completed_at: { type: [string, "null"], format: date-time }
        assigned_to:
          type: [string, "null"]
          description: Free text in the schema; it is not a validated user reference.
        category: { type: [string, "null"] }
        tags: { type: array, items: { type: string } }
        background_color: { type: [string, "null"] }
        created_by_user_id: { type: [string, "null"] }
        updated_by_user_id: { type: [string, "null"] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    NoteInput:
      type: object
      required: [content]
      additionalProperties: false
      properties:
        content: { type: string, minLength: 1, maxLength: 20000 }
    Note:
      type: object
      required: [id, contact_id, created_by_id, content, created_at, updated_at]
      properties:
        id: { type: string }
        contact_id: { type: string }
        created_by_id: { type: string }
        content: { type: string }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    NoteResponse:
      type: object
      properties:
        data: { $ref: "#/components/schemas/Note" }
        meta: { $ref: "#/components/schemas/RequestMeta" }
    ConversationCreate:
      type: object
      required: [contact_id, channel_id]
      additionalProperties: false
      properties:
        contact_id: { type: string, pattern: "^\\d+$" }
        channel_id: { type: string, pattern: "^\\d+$" }
    ConversationResponse:
      type: object
      properties:
        data: { $ref: "#/components/schemas/Conversation" }
        meta: { $ref: "#/components/schemas/RequestMeta" }
    Conversation:
      type: object
      properties:
        id: { type: string }
        contact_id: { type: [string, "null"] }
        channel_id: { type: string }
        channel_type: { type: string }
        status: { type: string }
        assigned_to_user_id: { type: [string, "null"] }
        last_message_at: { type: [string, "null"], format: date-time }
        unread_count: { type: integer }
        bot_disabled: { type: boolean }
        archived: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    Message:
      type: object
      properties:
        id: { type: string }
        conversation_id: { type: string }
        external_id: { type: [string, "null"] }
        direction: { type: string, enum: [incoming, outgoing] }
        type: { type: string }
        content: { type: string }
        status: { type: string }
        sender_id: { type: [string, "null"] }
        sender_type: { type: [string, "null"] }
        from_bot: { type: boolean }
        media_url: { type: [string, "null"] }
        sent_at: { type: [string, "null"], format: date-time }
        read_at: { type: [string, "null"], format: date-time }
        created_at: { type: string, format: date-time }
    TextMessageInput:
      type: object
      required: [channel_id, to, message]
      additionalProperties: false
      properties:
        channel_id: { type: string, pattern: '^\d+$' }
        to: { type: string, minLength: 1, maxLength: 320 }
        message: { type: string, minLength: 1, maxLength: 4096 }
    MediaMessageInput:
      type: object
      required: [channel_id, to, media_type, media_url]
      additionalProperties: false
      properties:
        channel_id: { type: string, pattern: '^\d+$' }
        to: { type: string, minLength: 1, maxLength: 320 }
        media_type: { type: string, enum: [image, video, audio, document] }
        media_url: { type: string, format: uri, maxLength: 2048, description: Public HTTP(S) URL; private addresses are rejected }
        caption: { type: string, maxLength: 1024 }
        filename: { type: string, maxLength: 255 }
    TemplateMessageInput:
      type: object
      required: [channel_id, to, template_name]
      additionalProperties: false
      properties:
        channel_id: { type: string, pattern: '^\d+$' }
        to: { type: string, minLength: 1, maxLength: 320 }
        template_name: { type: string }
        template_language: { type: string, default: en }
        components: { type: array, items: {} }
    InteractiveMessageInput:
      type: object
      required: [channel_id, to, interactive_type, body, action]
      additionalProperties: false
      properties:
        channel_id: { type: string, pattern: '^\d+$' }
        to: { type: string, minLength: 1, maxLength: 320 }
        interactive_type: { type: string, enum: [button, list] }
        body: { type: string, minLength: 1, maxLength: 1024 }
        header: { type: string, maxLength: 60 }
        footer: { type: string, maxLength: 60 }
        action: { type: object, additionalProperties: true }
    MessageDelivery:
      type: object
      properties:
        id: { type: string }
        external_id: { type: [string, "null"] }
        status: { type: string }
        timestamp: { type: string, format: date-time }
        channel_type: { type: string }
        conversation_id: { type: string }
    MessageDeliveryResponse:
      type: object
      properties:
        data: { $ref: "#/components/schemas/MessageDelivery" }
        meta: { $ref: "#/components/schemas/RequestMeta" }
    WebhookCreate:
      type: object
      required: [url, event_types]
      additionalProperties: false
      properties:
        url: { type: string, format: uri, description: Public HTTPS endpoint }
        event_types:
          type: array
          minItems: 1
          maxItems: 20
          items: { $ref: "#/components/schemas/WebhookEventType" }
    WebhookEndpoint:
      type: object
      properties:
        id: { type: string }
        url: { type: string, format: uri }
        event_types: { type: array, items: { $ref: "#/components/schemas/WebhookEventType" } }
        active: { type: boolean }
        created_at: { type: string, format: date-time }
    WebhookEventType:
      type: string
      enum:
        - contact.created
        - contact.updated
        - contact.deleted
        - conversation.created
        - conversation.updated
        - message.created
        - message.status.updated
        - note.created
        - note.updated
        - note.deleted
        - tag.attached
        - tag.detached
        - deal.created
        - deal.updated
        - deal.stage.changed
        - deal.deleted
        - task.created
        - task.updated
        - task.completed
        - task.deleted
        - channel.connection.updated
    WebhookEvent:
      type: object
      required: [id, type, schema_version, occurred_at, data]
      properties:
        id: { type: string, format: uuid }
        type: { $ref: "#/components/schemas/WebhookEventType" }
        schema_version: { type: integer, const: 1 }
        occurred_at: { type: string, format: date-time }
        data: {}
